NO=9
TZ=Asia/Singapore
CRON_SCHEDULE=0 18 * * *
# Account 1
ACCOUNT_1_EMAIL=dbhcpvopeab@outlook.com
ACCOUNT_1_PASSWORD=rxdszxebhm7
ACCOUNT_1_GEO_LOCALE=auto
ACCOUNT_1_LANG_CODE=en

# Account 2
ACCOUNT_2_EMAIL=dbhcpvopeab@outlook.com
ACCOUNT_2_PASSWORD=rxdszxebhm7
ACCOUNT_2_GEO_LOCALE=auto
ACCOUNT_2_LANG_CODE=en

# docker compose -p rewards_svc_9 up -d
